@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-background-accent-500;
}

body #root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100dvh;
  @apply bg-background-primary;
}

.fade-element {
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease; /* Controls the fading animation */
}

/*input {
  @apply bg-transparent py-1 px-2 border border-background-accent-500 border-border-0,5 rounded-e-input-border-radius-md-lg-default accent-input-color-focused focus:outline-none focus:ring-offset-0 focus:ring-2 focus:ring-offset-input-background-color-focused;
}*/
